<body>
  <div class="row rounded" >
    <div class="col-md-8 offset-md-4 mx-auto rounded" id="about">
      <div class="jumbotron jumbotron-fluid" id="about2">
  
        <u><h4><b>About Inventory Management System</b></h4></u>        
        <p class="lead">Inventory Management System is open source and maintained by ITWS4500 Section 2 Group 1 designed for use by RPI Ambulance. Additionally, it can be deployed and used by any organization or individual.</p>
        <u><h4><b>Why is it different?</b></h4></u>        
        <p class="lead">Firstly, it's <em>completely free</em> and anyone can download, deploy, modify, and even contribute to the project. </p>
        <p class="lead">Secondly, it is much more private about data than others since there's no information sent over the web. Everything happens between the servers the application is being ran on.</p>
        <u><h4><b>How can I contribute?</b></h4></u>        
        <p class="lead">We have an active <a href="https://github.com/lramos15/ITWS-group1-section2">repository</a> on GitHub where we track issues and accept pull requests.</p>
        <u><h4><b>Privacy policy</b></h4></u>        
        <p class="lead">Inventory Management System currently does not track any information, but is hoping to utilize Google Analytics to gather anonymous metrics about the users of the service. The information cannot and will not be used to identify you or any specific user of the service.</p>
        <p class="lead">By running the application and adding information to the database, we promise we won't have access to anything stored on your version of the application. Everything is local and if it's destroyed, there are no network backups.
        </p>

    </div>
   </div>
  </div>
  
</body>
