#about,#about2{
	background-color: #00ccd7;
}
h1{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	
}
p{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	color:;

}
image{
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
