<body>
  <div class="row rounded" >
    <div class="col-md-4 offset-md-4 mx-auto rounded" id="about">
      <div class="jumbotron jumbotron-fluid" id="about2">
  
        <h1 class="display-4">About Us</h1>
        <p class="lead">Inventory Management System is an inventory management and inventory taking system to allow for companies, clubs, and individual users to manage complex inventory systems.</p>
      <div class="text-center rounded">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded " src="../assets/image3.jpg" alt="" style="width: 400px; " id="img3">
      </div>
    </div>
   </div>
  </div>
  
</body>
