<div class="modal-header">
    <h4 class="modal-title">Add Item to Inventory</h4>
    <button type="button" class="close btn btn-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="container">
      <h1>Add Item to Inventory</h1>      
      <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
        <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Add one more row of items" (click)="addItem()">Add Item</button>
        <div id="box" formArrayName="items" *ngFor="let item of addItemForm.get('items').controls; let i = index;">
          <div [formGroupName]="i">
            <div class="form-row">
              <div class="col">
                <input class="form-control form-control-lg rounded" formControlName="name" placeholder="Item name" required>
              </div>
              <div class="col">
                <input class="form-control form-control-lg rounded"  formControlName="quantity" type="number" placeholder="Current Quantity of Item" required>
              </div>
            </div> 
            <button *ngIf="i != 0" type="button" class="btn btn-danger" (click)="removeItem(i)">X</button>
          </div>
        </div>
        <button class="btn btn-success" type="submit" [disabled]="!addItemForm.valid" data-toggle="tooltip" data-placement="top" title="Click submit when you finished adding items">Submit</button>
      </form>
  </div>        
</div>