<div class="modal-header">
    <h4 class="modal-title">Add Item to Inventory</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <div class="container">
      <h1>Add Item to Inventory</h1>
      <form [formGroup]="addItemForm" (ngSubmit)="onSubmit()">
        <button type="button" class="btn btn-success" (click)="addItem()">Add Item</button>
        <div formArrayName="items" *ngFor="let item of addItemForm.get('items').controls; let i = index;">
          <div [formGroupName]="i">
            <input formControlName="name" placeholder="Item name" required>
            <input formControlName="quantity" type="number" placeholder="Current Quantity of Item" required>
            <button *ngIf="i != 0" type="button" class="btn btn-danger" (click)="removeItem(i)">X</button>
          </div>
        </div>
        <button type="submit" [disabled]="!addItemForm.valid">Submit</button>
      </form>
  </div>        
</div>