.site-heading { 
  margin-top: 5rem;
  margin-bottom: 5rem;
  line-height: 1;
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
}

/*header.masthead .site-heading {
  padding: 200px 0 150px;
  color: black;
  text-align: center;
  font-size: 50px;
  margin-top: 0;

}
*/
/*#navbarNav{
  font-weight: 300;
  font-size: 2rem;
  background: #535f6b;
  padding-left: 15rem; 
}*/

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;/*grey line at the botto of the nav bar*/
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
 color: #343a40;
}
#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
}

a{
  display: inline;
color: #212529;
 -webkit-transition: all 0.2s;
  transition: all 0.2s;

}
a:focus, a:hover {
  color: #0085A1;
}
li.nav-item{
  padding-left: 5rem; 
}
.search{
  font-color:#47515b;
}

.form-inline{
  padding-left: 15rem;  
}

body{
  font-size: 20px;
 color: #212529;
}

footer {
  padding: 50px 0 65px;
  text-decoration: underline;
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}

h1{ 
  font-weight: 800;
  font-size: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  color:#000000; 
}


#mainNav {
  position: absolute;
}