<!--add a background image later  -->
<!-- <div class="view" style="background-image: url('../assets/image3.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-gradient align-items-center">
  </div>
  </div> -->


<!---Not very responsive as a whole--->  
<body>
   
	<!---This is the root page--->
   <h1 class="site-heading text-center d-none d-lg-block">Inventory Management System</h1>
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/landing-page" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item">
            <a aclass="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/inventory" routerLinkActive="active"> Inventory</a>
          </li>
          				<!---Future improvement?--->
		  <form class="form-inline">
			<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline-success" type="submit" id=search>Search</button>
		  </form>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

</body>

<!---Footer--->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="copyright text-muted">Copyright &copy; ITWS-4500-group1-section2 Project 2019</p>
      </div>
    </div>
  </div>
</footer>

  
