<div class = "container">

	<h1>{{ thisInv.name }}</h1>

	<table class=table>
		<thead>
			<tr>
				<th scope="col">Item</th>
				<th scope="col">Quantity</th>
			</tr>
		</thead>
		<tbody *ngFor="let item of thisInv?.items">
			<tr>
				<td>{{item.name}}</td>
				<td>{{item.quantity}}</td>
			</tr>
		</tbody>
	</table>

	<button type="button" class="btn btn-primary float-right" (click)="openAddItemForm()">Add Item</button>
	<button type="button" class="btn btn-primary mr-2 float-right" (click)="openTakeInventory()">Take Inventory</button>
	<button type="button" class="btn btn-primary mr-2 float-right" (click)="addPerson()">Add Person</button>
  	<button *ngIf="loggedIn.userName == thisInv?.owner" type="button" class="btn btn-danger mr-2 float-right" (click)="removePerson()">Remove Person</button>
	<button type="button" class="btn btn-primary mr-2 float-right" routerLink="/barcode/{{ id }}">View Barcodes</button>


<button type="button" class="btn btn-primary" (click)="openAddItemForm()">Add Item</button>
<button type="button" class="btn btn-primary" (click)="addPerson()">Add Person</button>
<button type="button" class="btn btn-primary" routerLink="/barcode/{{ id }}">View Barcodes</button>

</div>

