<h2>Hello {{ loggedIn.firstName }} {{ loggedIn.lastName }}, Your Inventories:</h2>

<div class = "container">
    <nav class="navbar navbar-light bg-light justify-content-between">
      <h3 class="navbar-brand">Inventories</h3>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>

    <nav class="navbar navbar-light">
        <form class="form-inline">
              <a class="nav-link"><button type="button" (click)="newInvButtonClick()" class="btn btn-success">New Inventory</button></a>
              <a class="nav-link"><button type="submit" class="btn btn-info">Generate API</button></a>
              <a class="nav-link"><button type="submit" class="btn btn-danger">Manage Inventories</button></a>
        </form>
    </nav>

    <p *ngIf="loggedInInventories.length == 0">You don't have any inventories :(</p>

    <ul class="list-group list-group-flush">

        <!-- Use ngFor here to display all inventories 
        after pulling from Mongo -->
        <li class="list-group-item" *ngFor="let inventory of loggedInInventories">
            <a routerLink="/single-inventory/{{ inventory.id }}">{{ inventory.name }}</a>
        </li>
    </ul>

</div>

