<h2>Hello {{ loggedIn.firstName }} {{ loggedIn.lastName }}, Your Inventories:</h2>

<p class="container userInventories">


  <!-- Use ngFor here to display all inventories 
      after pulling from data source, Postgres? Mongo? -->

  <li *ngFor="let inventory of loggedInInventories" (click) ="onSelect(inventory)">
    <a routerLink="/single-inventory/{{ inventory.name }}">{{ inventory.name }}</a>
  </li>

</p>

<p class="functions">

    <button type="button" (click)="newInvButtonClick()" class="btn btn-success">New Inventory</button><br/>
    <button type="submit" class="btn btn-info">Generate API</button><br/>
    <button type="submit" class="btn btn-danger">Manage Inventories</button>
  <!-- extra informataion and functions goes here
  (add, remove, view, generate api code, etc) -->
</p>

