  <body>
  <!-- Main Content -->
  <div class="container rounded ">
    <div class="row justify-content-between vertical-center">
      <div class="col-8 vertical-center" >
        <hr>
        <div class="card-title w-100 text-center " >
          <h2 class="section-heading ">
            <span class="section-heading-lower text-center ">Help you manage your inventory</span>
        </h2>
        </div>
        <div class="card-text w-100 text-center" >
          <span>&#9733; Register to use our website &#9733;</span>
        </div>
        <div class="card-text w-100 text-center" >
          <div class="intro-button mx-auto">
          <!---Register button--->
            <a class="btn btn-primary btn-xl" routerLink="/register" routerLinkActive="active">Register Today!</a> 
          </div>
        </div>
      </div>
      <!---image--->
      <div class="col-4 d-flex  align-items-end">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../assets/image1.jpg" alt="" style="width: 600px;" id="img1">
      </div>
  </div>
</div>

<div class="container rounded">
    <div class="row justify-content-between vertical-center">
      <div class="col-8 vertical-center" >
        <hr>
        <div class="card-title w-100 text-center" >
          <h2 class="section-heading ">
            <span class=" card-title w-100 text-center">&#9733;Introduction&#9733;</span>
        </h2>
        </div>
        <div class="card-text w-100 text-center" >
          <p >Our product is an inventory management and inventory taking system to allow for companies, clubs, and individual users to manage complex inventory systems.</p>
          <p>To learn more, visit the <b>About Us</b> page </p>
        </div>        
      </div>
      <!---image--->
      <div class="col-4 d-flex  align-items-end">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../assets/image2.jpg" alt="" style="width: 600px;" id="img2">
      </div>
  </div>
</div>


<!--   <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="../assets/image3.jpg" alt="" style="width: 600px;" id="img3"> -->

    
<router-outlet></router-outlet>
</body>

