body{
  padding-left: 10em;
}

#section-heading-lower{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-size: 1.5rem;
  color:blue;
}

#card-text{
  font-size: 7rem;
  color:blue;

}
.container{
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem;
  position: center;
  margin: 5rem;
  padding-top: 2rem;
  margin-bottom: 0;/*remove the weird space between body and footer*/
  background-color: #00c7ff ;/*#bde0ff,alice blue*/
  border: 0.3rem solid black;

}

#mainText{
  text-align: center;
}

#text{
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  font-size: 1.5rem;
}

#img1{/*the image of inventory*/  
  float: right;
  /*padding-left: 3rem;*/
  background: transparent;
}

#img2{/*the image of scanning bar code*/  
  width: 200%;
  float: right;

}


