/* better ID names
*/
h2{
  position: center;
}

body {
  font-family: 'Calibri';/*round font*/
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color:#f0f8ff;
  color: #535399; /*text color */
  font-size: 1.5rem;
}

.container{
    font-family: 'Acta Display';/*round font 2*/
    width: 100%;
    background-color: #a3d4ff;
    padding: 1rem;
    position: center;
    margin: 5rem;
}

#mainText{/*register today font*/
  text-align: center;
}

#linkStyle{
  font-family: 'Calibri';
}

#text{
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

#img1{/*the image of inventory*/  
  float: right;
  /*padding-left: 3rem;*/
  background: transparent;
}

#img2{/*the image of scanning bar code*/  
  width: 200%;
  float: right;

}




