<div class="modal-header">
<h4 class="modal-title">Take Inventory via Barcode <a (click)="switchMode()">(By name instead?)</a></h4>
  <button type="button" class="close btn btn-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container rounded">
    <p>Set quantity to a negative number to remove the item from your inventory.</p>
    <form [formGroup]="takeInventoryForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">
      <div formArrayName="items" *ngFor="let item of takeInventoryForm.get('items').controls; let i = index;">
        <div [formGroupName]="i">
          <div [hidden]="item.controls.barcode.valid || item.controls.barcode.pristine" class="alert alert-danger">
            Invalid Barcode!
          </div>
          <div class="form-row">
            <div class="col col-md-5">
              <input class="form-control form-control-lg rounded" type="text" formControlName="barcode" placeholder="Item's barcode" required >
            </div>
            <div class="col col-md-5">
              <input class="form-control form-control-lg rounded"  formControlName="quantity" type="number" placeholder="Current Quantity of Item" (keydown.enter)="onEnter()"required>              
            </div>
            <div class="col col-md-2" >
              <button id="bt" *ngIf="i != 0" type="button" class="btn btn-danger" (click)="removeItem(i)">X</button>
            </div>          
          </div>
        </div>
      </div>
      <button class="btn btn-success" type="submit" [disabled]="!takeInventoryForm.valid"data-toggle="tooltip" data-placement="top" title="Click submit when you finished taking inventory">Submit</button>
    </form>
  </div>        
</div>