<div class="modal-header">
  <h4 class="modal-title">Remove an Inventory</h4>
  <button type="button" class="close btn btn-danger" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <h2>Remove Inventory</h2>
    <div *ngIf="removableInventories?.length > 0;else noNew">
        <form [formGroup]="removeInventoryForm" (ngSubmit)="onSubmit()">
          <select class="custom-select custom-select-lg mb-3 rounded" formControlName="inv">
            <option *ngFor='let inv of removableInventories' [value]="inv.name" selected="selected">
              {{ inv.name }}
            </option>
          </select>
        <button class="btn btn-success mx-auto" type="submit" data-toggle="tooltip" data-placement="top" title="Click when you finished selecting the inventory you want to remove">Submit</button>
      </form>
    </div>
    <ng-template #noNew>
    <h2>Sorry.There is no inventories remove :(</h2>
    </ng-template>
    
  </div>       
</div>