/* You can add global styles to this file, and also import other style files */
@import "bootstrap-4.2.1-dist/css/bootstrap.css";

h1{ 
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: 'Acta Display';    
    text-align: center;
    /*color:#000000; black*/
}

h2{
  position: center;
}

body {
  font-family: 'Calibri';/*round font*/
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color:#f0f8ff;
  color: #535399; /*text color */
  font-size: 1.5rem;
}

.container{
    font-family: 'Acta Display';/*round font 2*/
    width: 100%;
    background-color: #a3d4ff;
    padding: 1rem;
    position: center;
    margin: 5rem;
}

#mainText{/*register today font*/
  text-align: center;
}

#linkStyle{
  font-family: 'Calibri';
}

#text{
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

#img1{/*the image of inventory*/  
  float: right;
  /*padding-left: 3rem;*/
  background: transparent;
}

#img2{/*the image of scanning bar code*/  
  width: 200%;
  float: right;

}
.site-heading {  /*popped site name*/
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  line-height: 1;
  font-family: 'Calibri';
  font-size: 5rem;
  font-weight: 100;
  line-height: 4rem;
  
}
/*header.masthead .site-heading {
  padding: 200px 0 150px;
  color: white;
  text-align: center;
  font-size: 50px;
  margin-top: 0;
}
*/
#navbarNav{
  font-weight: 300;
  font-size: 2rem;
  font-family: 'Calibri';
  /* background: #535f6b;lighter 

  font-color:#47515b;slate*/
  padding-left: 15rem; 
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: white;
  font-family: 'Calibri';
}

#mainNav .navbar-brand {
  font-weight: 800;
  color: #343a40;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  font-weight: 800;
  padding: 13px;
  text-transform: uppercase;
  color: #343a40;
}
#mainNav .navbar-nav > li.nav-item > a {
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}
a{/*all the links*/
  display: inline;
  color: #212529;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

}
a:focus, a:hover {
  color: #0085A1;
}
li.nav-item{
  padding-left: 5rem; 
}
.search{
  font-color:#47515b;/*slate*/
}

.form-inline{
  padding-left: 15rem;  
}

body{
  font-size: 20px;
  color: #212529;
  font-family: 'Calibri';
}

footer {
  padding: 50px 0 65px;
  text-decoration: underline;
  font-family: 'Calibri';
}

footer .list-inline {
  margin: 0;
  padding: 0;
}

footer .copyright {
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
}