<div class="modal-header">
  <h4 class="modal-title">Add Person to Inventory</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container">
    <h2>Add Person</h2>
    <!-- <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1"> -->
          <select *ngFor="let person of users;let i=index;" >
            <option value="{{ person.userName }}">{{ person.userName }}</option>
            <option value="{{ person.firstName }}">{{ person.firstName }}</option>
            <!-- <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option> -->
          </select>
          <!-- <div *ngFor="let person of users;let i=index;">
            <div ngbDropDownItem>{{ person.userName }}</div>
          </div> -->
          <!-- <button ngbDropdownItem>Action - 1</button>
          <button ngbDropdownItem>Another Action</button>
          <button ngbDropdownItem>Something else is here</button> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
    <form [formGroup]="addPersonForm" (ngSubmit)="onSubmit()">
      <button type="submit">Submit</button>
    </form>
  </div>       
</div>